body{
  position: relative;
  background: #FFFFFF;
}
 a:hover{
    text-decoration: none;
  }
  .info-box {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 175%;
    color: #828282;
    overflow: hidden;
  }
  .info-box ul>li>a{
    color: #828282;
  }
   .info-box ul>li{
    float: left;
    margin-right: 15px;
  }
  .hr-underline{
    display: inline-block;
  line-height: 0.9;
  border-bottom: 1px solid;
  }
  .info-box img{
    margin-right: 8px;
  }
  .social-media ul>li{
    float: left;
    padding-left: 15px;
  }
  .main-logo{
    position: absolute;
    left: 30%;
  }
 .main-logo #rectangle, h1{
  display: inline-block;
 }
.main-logo #rectangle{
width: 40px;
height: 40px;
background: #2F4450;
}
.main-logo h1{
  font-family: Yaldevi Colombo;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #2F4450;
}
.navbar{
  padding: .5rem 0;
}
.navbar .navbar-nav   ul{
  list-style: none;
}
.navbar .navbar-nav>li{
  margin-left: 30px;
}
.navbar .navbar-nav>li>a{
  font-family: "Segoe UI";
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 88%;
letter-spacing: 0.01em;
color: #2A2B2C;
}
.navbar .navbar-nav>li>a:hover, .navbar .navbar-nav>li>a:active{
  color: #F8921B;
}
.appointment-num{
  margin-top: 20px;
}
.appointment-num span{
  font-size: 14px;
  padding-right: 5px;
}
.appointment-num div{
  margin: 0;
  font-family:"Segoe U"I;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 174.19%;
text-align: center;
color: #34C270;

}
.appointment-num b{
  font-family:"Segoe UI";
font-size: 15px;
line-height: 24px;
text-align: center;
color: #F8921B;
}
.dashed-line{
  position: absolute;
  width: 130px;
  height: 0px;
  top: 38px;
  left: 30px;
  border-top: 2px dashed #F8921B;
}
#line{
  width: 850px;
  height: 0px;
  border: 1px solid #F2F2F2;
  margin-left: 2.5rem;
  margin-top: .3rem;
}

/* Order Now Section */
#order-part .order-table{
  position: static;
  width: 100%;
  left: 0px;
  top: 124px;
  z-index: -2;
  overflow: hidden;
  }
  #order-part .order-table img{
    object-fit: cover;
    width: 100%;
  }
  
#order-part .img-circle img:first-child{
  position: absolute;
  left: 735px;
  top: -30px;
  width: 40%;
  z-index: -1;
  margin-right: 175px;
}
#order-part .img-circle img:nth-child(2){
  position: absolute;
  left: 790px;
  top: 25px;
  z-index: -2;
}
#order-part .img-circle img:last-child{
  position: absolute;
    left: 770px;
    top: 135px;
}
#order-part .vis-circ{
  position: absolute;
  width: 245px;
  height: 245px;
  left: 960px;
  top: 130px;
  mix-blend-mode: multiply;
  opacity: 1;
}
#order-part .txt-table{
  position: absolute;
  width: 500px;
  height: 150px;
  left: 300px;
  top: 160px;
}
#order-part .txt-table h2{
  font-family: 'Montserrat Alternates',sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.01em;
  color: #34C270;
}
#order-part h1{
  font-family: 'Montserrat Alternates',sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 50px;
  letter-spacing: 0.035em;
  color: #F8921B;
}
#line-vertical{
  border-left: 1px solid#34C270;
  height: 225px;
}




 /* Goblin Section */
.respo-circ{
  bottom: 425px;
  position: relative;
  z-index: -1;
}
.imp-text{
  padding-left: 15px;
}
.imp-text h3{
  font-family: 'Montserrat Alternates',sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 135%;
  letter-spacing: 0.01em;
  color: #2A2B2C;
  margin-bottom: 28px;
  }
  .imp-text p{
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #34C270;
  padding-right: 110px;
  padding-bottom: 25px;
  }
  .imp-text span{
    color:#F93D31;
  }
  .imp-text a{
    background: #F8921B;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.035em;
    border-radius: 2px;
    padding: 10px 100px;
  }
  .imp-man{
    padding-top: 25px;
    margin-top: 25px;
  }
  .imp-man img{
    width: 100%;
  }
  .circ-bck-line{
    background: #F8921B;
    mix-blend-mode: normal;
  }
  .circ-bck-line img{
    width: 100%;
    height: max-content;
  }
  @media screen and (min-width: 1200px){
   .ellipse{
   width:12%;
    }
    #seven-circles{
      margin-bottom: 76px;  
      margin-top: 60px;
     }
     #seven-circles .container:last-child{
       height: 0;
     }
     .imp .imp-text p{
      padding-right: 16px;
     }
    }
  @media screen and (max-width:1200px){
   #seven-circles .circles{
   width: 115px;
   height: 115px;
  }
  .imp{
    margin-left: -20px;
  }
   } 
   @media screen and (max-width: 992px) and (min-width: 768px){
    #seven-circles {
      margin-bottom: 76px;
     }
    #seven-circles .ellipse {
       width: 20%;
       padding: 25px 0px;
   }
   #seven-circles .circ-service{
     justify-content: unset;
    flex-wrap: wrap-reverse;
    margin-top: 120px;
   }
   #seven-circles .respo-circ{
    bottom: 520px;
   }
   #seven-circles .container:last-child{
     height: 0;
   }
   #seven-circles .imp-text p{
    padding-bottom: 5px;
   }
   }   
   @media screen and (max-width: 768px){
    #seven-circles{
      margin-bottom:-150px;
    }
    #seven-circles .ellipse{
      width: 32%;
      padding: 25px 0;
       }
    #seven-circles .circles{
        width: 130px;
        height: 130px;
       }
       #seven-circles .respo-circ{
         bottom:210px;
       }
       #line-vertical{
         display: none;
       }
   }
   @media screen and (max-width: 576px){
     #seven-circles{
      margin-bottom: 100px;
     }
    #seven-circles .ellipse{
      width: 35%;
      margin: 0;
       }
      #seven-circles .circ-service{
        justify-content: space-around;
        text-align: center;
      }
     .imp-text{
       margin-top: 40px;
     }
     .imp-text p{
      padding-right: 0;
     }
   }
  .circles{
    width: 130px;
    height: 130px;
    background: #FFFFFF;
    border: 2px solid #34C270;
    box-sizing: border-box;
    border-radius: 50%;
    position: relative;
    display: table;
  }
  .circles:hover{
    background: #34C270;
  }
  .circles:hover p{
    color: #FFFFFF;
  }
  .circles>span{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 40%;
    background: #FFFFFF;
    border-radius: 50%;
    top: -15px;
    text-align: center;
  }
  .circles span>h6{
    color: #F8921B;
  }
  .circles>p{
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    color: #2F4450;
    display: table-cell; 
    vertical-align: middle;
    padding: 0 5px;
   }
  .circ-service{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
  }

  /* Services */
   .heading{
     position: relative;
   }
   .heading h1{
    font-family:"Montserrat Alternates";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #2A2B2C;
    margin-bottom: 50px;
   }
   .heading .right{
     width: 60px;
     height: 2px;
     background: #34C270;
     position: absolute;
     margin: 15px 10px;
   }
   .heading .left{
    width: 60px;
    height: 2px;
    background: #34C270;
    position: absolute;
    margin: 15px 15px 0 -70px;
   }
  .card{
    margin-bottom: 75px;
    background: #34C270;
    height: auto;
    border-radius: 0%;
  }
  @media(max-width:768px){
    .card{
      margin-bottom: 48px;
    }
  }
  .card img:first-child{
    mix-blend-mode: multiply;
    opacity: 1;
    width: 100%;
  }
  .card img:nth-child(2){
    position: absolute;
    width: 100%;
    bottom: 0;
  }
  .card .destination{
    position: absolute;
    top: 10%;
    text-align: center;
    width: 100%;
    padding: 0 28px;
  }
  .card .destination h6{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: default;
  }
  .card:hover{
    opacity: 0.8;
    transition-duration: 1s;
  
  }
  .card:hover .arrow-icon, .card:hover .overlay-border{
    opacity: 1;
    transition-duration: 1.5s;
  }
  .overlay-border{
    outline: 1px solid #FFFFFF;
    outline-offset: -11px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0;
  }
   .arrow-icon{
   position: absolute;
   top:45%;
   text-align: center;
   width: 100%;
   padding: 10px 28px;
   z-index: 3;
   opacity: 0;
}
  .card .arrow-icon img{
  width: 30px;
   }
  .other-services{
    border: 2px solid #34C270;
    box-sizing: border-box;
  }
  .other-services .name-sec{
    padding: 20px 0 19px 0;
  }
  .docs-analys .name-sec{
    padding: 22px 0 20px 0;
  }
  .name-sec h5{
   font-family: "Segoe UI",sans-serif;
   font-size: 16px;
   text-align: center;
   letter-spacing: 0.05em;
   text-transform: uppercase;
  }
  .other-services .name-sec h5{
    color: #34C270;
    line-height: 24px;
  }
  .docs-analys .name-sec h5{
    line-height: 21px;    
    color: #FFFFFF;
  }
  .other-services ul{
    margin-bottom: 0;
    padding-left: 20px;
  }
  .other-services ul>li{
   color: #34C270;
   line-height: 28px;
  }
  .other-services ul>li:hover{
    color: #F8921B;
   }
  .other-services ul>li>span,.docs-analys ul>li>span{
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 16px;
  }
  .other-services ul>li>span{
    color: #2F4450;
    letter-spacing: 0.02em;
  }
  .design-below{
    background: #34C270;
    margin-top: 23px;
  }
  .design-below img{
    width: 100%;
    mix-blend-mode: multiply;
    height: max-content;
  }
  @media screen and (max-width: 992px){
  .docs-analys{
    margin-top: 43px;
  }
  }
  .docs-analys{
    background: #34C270;
    height: 100%;
  }
  .docs-analys ul{
    padding-left: 20px;
  }
  .docs-analys ul>li{
    letter-spacing: 0.01em;
    color: #FFFFFF;
    line-height: 28px;
  }
   .docs-analys ul>li>span:hover{
    border-bottom: 1.5px dashed #FFFFFF;
    display: inline-block;
    line-height: 1.5;
    cursor: pointer;
   }
 
   .other-services ul>li>span:hover{
    cursor: pointer;
    color: #F8921B !important;
    border-bottom: 1.5px dashed #F8921B;
    display: inline-block;
    line-height: 1.5;
   }

   /* Consultation section */
   #consultation{
    margin-top: 33px;
   }
   #consultation .heading{
     top:60px;
     right: 30px;
   }
  .conslt-img{
    background: #F8921B;
    mix-blend-mode: normal;
    margin-top: 40px;
   }
   .conslt-img div{
     position: absolute;
     left: -50px;
     top: 75px;
   }
   .conslt-img p{
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
   }
   .conslt-img a{
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.035em;
    color: #F8921B;
    border-radius: 2px;
    background-color: #FFFFFF;
   }
   .conslt-img img{
     width: 100%;
     mix-blend-mode: multiply;
     height: max-content;
  }
  .pass-img{
    position: absolute;
    z-index:-1;
    }
  .doc-img{
    position: absolute;
    z-index: 1;
  }
 
  /* Benefits */


  /* Med Center */
.med-center{
  display:inline-block;
  width: 45%;
}
.med-center img{
  float: left;
  width: 100%;
}
#rect-grn{
  background: #34C270;
}
.about-med-center{
  display: inline-block;
}
.about-med-center h1{
  font-family: "Montserrat Alternates",sans-serif;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 34px;
letter-spacing: 0.01em;
color: #25353E;
}
.about-med-center p{
  font-family: "Segoe UI",sans-serif;
font-size: 15px;
line-height: 25px;
letter-spacing: 0.02em;
color: #2A2B2C;
}

